@import "tailwindcss";

@theme inline {
  --font-sans: Inter, system-ui, sans-serif;
  --font-mono: "Fira Code", monospace;

  --text-primary: #0F172A;
  --text-secondary: #334155;

  --surface-primary: #FFFFFF;
  --surface-secondary: #EDE9FE;

  --graphic-elements: #94A3B8;
  --highlight: #7C3AED;

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --color-surface-primary: var(--surface-primary);
  --color-surface-secondary: var(--surface-secondary);

  --color-highlight: var(--highlight);
  --color-graphic: var(--graphic-elements);
}

/* ===== CSS Variables base ===== */
:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  --background: #F8FAFC;
  --foreground: oklch(0.145 0 0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* ===== Body ===== */
body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  font-family: var(--font-sans);
  background-color: var(--background);
  color: var(--foreground);
}

.scrollbar{
  overflow: hidden;
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar{
  width: 8px;
}
.scrollbar::-webkit-scrollbar-thumb{
  border-radius: 8px;
  background-color: var(--surface-secondary);
}

/* ===== Reset base ===== */
@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }
}